@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
  @apply text-clamp;
  font-size: 16px;
}

@media screen and (min-width:1720px) {
  html,
  body {
    font-size: 28px;
  }
}

@media screen and (min-width:1280px) {
  html,
  body {
    font-size: 16px;
  }
}
@media screen and (max-width:768px) {
  html,
  body {
    font-size: 14px;
  }
}


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}